body {
    background-color: rgb(253, 249, 234);
}

h1 {
    font-family: Trebuchet MS;
    color: rgb(104, 18, 18);
    font-size: 2.4em;
}

p {
    font-family: Helvetica;
    color: crimson;
    font-size: 1.3em;
}

span {
    font-weight: bold;
    background-color:rgb(255, 222, 133)
}